In [32]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [33]:
df = pd.read_csv("PairPrograming.csv", index_col = 0)
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34


1. IdentificaciÃ³n de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

2. SelecciÃ³n de MÃ©todo de ImputaciÃ³n: Discute en tu compaÃ±era cuÃ¡l serÃ­a la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. ImputaciÃ³n de Valores Nulos: Implementa el mÃ©todo de imputaciÃ³n seleccionado en el paso 2 para llenar los valores nulos en las columnas.

Informe: AÃ±ade al final de un jupyter una explicaciÃ³n breve que describa las columnas que tenÃ­an valores nulos, cÃ³mo decidiste imputarlos y cualquier observaciÃ³n adicional que consideres importante sobre el proceso de limpieza de datos.

In [34]:
cat_nulos = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categÃ³ricas que tienen nulos son : \n ")
print(cat_nulos)

Las columnas categÃ³ricas que tienen nulos son :

Index(['Abbreviation', 'Agricultural Land( %)', 'Land Area(Km2)',
       'Armed Forces size', 'Capital/Major City', 'Co2-Emissions', 'CPI',
       'CPI Change (%)', 'Currency-Code', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [41]:
for col in cat_nulos:
    print(f"La distribuciÃ³n de las categorÃ­as para la columna {col.upper()}")
    display(df[col].value_counts() / df.shape[0] * 1000) 
    print("........................")

La distribuciÃ³n de las categorÃ­as para la columna ABBREVIATION

Abbreviation
AF    5.128205
PY    5.128205
NE    5.128205
NG    5.128205
KP    5.128205
        ...
GR    5.128205
GD    5.128205
GT    5.128205
GN    5.128205
ZW    5.128205
Name: count, Length: 188, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna AGRICULTURAL LAND( %)

Agricultural Land( %)
17.40%    15.384615
39.30%    10.256410
23.30%    10.256410
73.40%    10.256410
34.50%    10.256410
            ...
58.00%     5.128205
8.60%      5.128205
66.80%     5.128205
28.90%     5.128205
41.90%     5.128205
Name: count, Length: 168, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna LAND AREA(KM2)

Land Area(Km2)
652,230      5.128205
616          5.128205
268,838      5.128205
130,370      5.128205
1,267,000    5.128205
               ...
349          5.128205
108,889      5.128205
245,857      5.128205
36,125       5.128205
390,757      5.128205
Name: count, Length: 194, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna ARMED FORCES SIZE

Armed Forces size
2,000        35.897436
1,000        30.769231
16,000       25.641026
9,000        25.641026
4,000        25.641026
               ...
3,031,000     5.128205
43,000        5.128205
146,000       5.128205
180,000       5.128205
51,000        5.128205
Name: count, Length: 105, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna CAPITAL/MAJOR CITY

Capital/Major City
Kabul                    5.128205
Tirana                   5.128205
Wellington               5.128205
Managua                  5.128205
Niamey                   5.128205
                           ...
Athens                   5.128205
St. George's, Grenada    5.128205
Guatemala City           5.128205
Conakry                  5.128205
Harare                   5.128205
Name: count, Length: 192, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna CO2-EMISSIONS

Co2-Emissions
143       10.256410
495       10.256410
28,284    10.256410
2,017     10.256410
7,407      5.128205
            ...
16,670     5.128205
62,434     5.128205
268        5.128205
16,777     5.128205
10,983     5.128205
Name: count, Length: 184, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna CPI

CPI
110.62    10.256410
99.55     10.256410
106.58    10.256410
149.9      5.128205
114.24     5.128205
            ...
112.85     5.128205
268.36     5.128205
101.87     5.128205
107.43     5.128205
105.51     5.128205
Name: count, Length: 175, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna CPI CHANGE (%)

CPI Change (%)
2.80%     35.897436
1.80%     35.897436
2.60%     30.769231
2.30%     25.641026
0.80%     25.641026
            ...
4.70%      5.128205
23.60%     5.128205
9.40%      5.128205
-1.70%     5.128205
8.10%      5.128205
Name: count, Length: 86, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna CURRENCY-CODE

Currency-Code
EUR    117.948718
XOF     41.025641
XCD     30.769231
USD     30.769231
XAF     25.641026
          ...
GMD      5.128205
FJD      5.128205
ETB      5.128205
ERN      5.128205
ZMW      5.128205
Name: count, Length: 133, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna FORESTED AREA (%)

Forested Area (%)
43.10%    15.384615
0.00%     15.384615
33.20%    15.384615
12.60%    15.384615
32.70%    15.384615
            ...
14.90%     5.128205
55.50%     5.128205
50.20%     5.128205
41.70%     5.128205
35.50%     5.128205
Name: count, Length: 161, dtype: float64

........................
La distribuciÃ³n de las categorÃ­as para la columna GASOLINE PRICE

Gasoline Price
$0.71     30.769231
$1.16     25.641026
$0.92     25.641026
$1.12     20.512821
$0.98     20.512821
            ...
$1.74      5.128205
$1.19      5.128205
$1.55      5.128205
$0.43      5.128205
$1.34      5.128205
Name: count, Length: 101, dtype: float64

........................

In [ ]:
cat_nulos = (df.isnull().sum() / df.shape[0]) * 100
cat_nulos

Country                   0.000000
Density\n(P/Km2)          0.000000
Abbreviation              3.589744
Agricultural Land( %)     3.589744
Land Area(Km2)            0.512821
Armed Forces size        12.307692
Birth Rate                3.076923
Calling Code              0.512821
Capital/Major City        1.538462
Co2-Emissions             3.589744
CPI                       8.717949
CPI Change (%)            8.205128
Currency-Code             7.692308
Fertility Rate            3.589744
Forested Area (%)         3.589744
Gasoline Price           10.256410
dtype: float64

In [ ]:
df_nulos_cat = pd.DataFrame(cat_nulos, columns = ["%_nulos"])

df_nulos_cat[df_nulos_cat["%_nulos"] > 0]

                         %_nulos
Abbreviation            3.589744
Agricultural Land( %)   3.589744
Land Area(Km2)          0.512821
Armed Forces size      12.307692
Birth Rate              3.076923
Calling Code            0.512821
Capital/Major City      1.538462
Co2-Emissions           3.589744
CPI                     8.717949
CPI Change (%)          8.205128
Currency-Code           7.692308
Fertility Rate          3.589744
Forested Area (%)       3.589744
Gasoline Price         10.256410

In [ ]:
df_nulos_cat.describe()

         %_nulos
count  16.000000
mean    4.423077
std     3.855260
min     0.000000
25%     1.282051
50%     3.589744
75%     7.820513
max    12.307692